@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #181818;
  color: #fff;
  margin-top: 75px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  font-size: 1.7em;
  margin-top: 8px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5,
h6 {
  font-weight: 300;
}



/* Button */
.primary-btn {
  display: block;
  width: 25%;
  padding: 0.7rem 1rem;
  height: 2.7rem;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  background: #1f74b9;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
  margin: 0 auto;
}

.primary-btn:hover {
  background-color: #700303;
}

.headerfixedbar {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}

.headerLogoText {
  color: black;
  font-size: 1.2em;
  line-height: 1.2em;
}

.headerLogoText:hover{
  background-color: pink;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 500;
}

.themeButton {
  background-color: pink;
  color: white;
  border-color: black;
  border-width: thin;
  font-weight: 500;
}

.themeButton:hover {
  background-color: lightpink;
  border-width: thin;
}

.forumModule {
  background-color: white;
  color: black;
  overflow: none;
}

.categoryModule {
  background-color: white;
  color: black;
  overflow: none;
  margin-top: 20px;
}

.forumMargin {
  margin-bottom: 10px;
}

.forumPad {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.forumTable {
  width: 100%; 
  height: auto;
  border: 1px solid black;
}

.forumTable th {
  padding: 5px;
  color: red;
}

.forumTable tr {
  border: 1px solid #181818;
}

.forumTable td {
  padding: 5px;
}

.paginationBar {
  padding: 10px;
}

.pageArrow {
  color: grey;
  padding-right: 5px;
  padding-left: 5px;
}

.columnPad {
  margin: 5px;
}

.pullLeft {
  float: left;
  display: inline-block;
}

.pullRight {
  float: right;
  display: inline-block;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
  font-weight: 500;
  text-decoration: none;
}

.forumTable a:hover {
  font-weight: normal;
}